<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- Appenders -->
	<appender name="console-std" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="INFO" />
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>

	<appender name="console-err" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c (%F:%L) - %m%n" />

		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<appender name="errorRecord" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/error.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<param name="Threshold" value="WARN" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c (%F:%L) - %m%n" />
		</layout>
		<!--日志过滤门槛，记录error以上级别日志 -->
	</appender>

	<appender name="infoRecord" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/info.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="INFO" />
			<param name="LevelMin" value="INFO" />
		</filter>
	</appender>

	<appender name="allRecord" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/debug.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c (%F:%L) - %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework">
		<level value="warn" />
	</logger>

	<logger name="com.mchange.v2">
		<level value="warn" />
	</logger>

	<!-- Root Logger -->
	<root>
		<level value="DEBUG" /><!-- 改成INFO级别 -->
		<appender-ref ref="console-std" />
		<appender-ref ref="console-err" />
		<appender-ref ref="allRecord" /> <!-- 生产环境中要去掉 -->
		<appender-ref ref="errorRecord" />
		<appender-ref ref="infoRecord" />
	</root>

</log4j:configuration>
